extends layouts/main.pug
block content
    p change Password!
    .form__changePassword(action=routes.changePassword method="post")
        input(type="password" name="password" placeholder="Current Password")
        input(type="password" name="NewPassword" placeholder="New Password")
        input(type="password" name="VerifyPassword" placeholder="Verify Password")
        input(type="submit" value="Change Password")