extends layouts/main.pug
block content
    p edit video!
    form(action=routes.videoDetail method="post")
        input(type="text" name="editVideoTitle" placeholder="Title")
        input(type="text" name="editVideoDescription" placeholder="Description")
        input(type="submit" value="Update Video")
    a(href=routes.deleteVideo) Delete Video