extends layouts/main.pug

block content
    form(action=`/videos${routes.upload}`, method="post")
        div.fileUpload   
            label(for="file") Video File
            input(type="file" id="file" name="videoFile" required = true accept = "video/*")
        input(type="text" name="videoTitle", placeholder="Title" required = true)
        input(type="text" name="videoDescription", placeholder="Description" required = true)
        input(type="submit" value="Upload Video")
