extends layouts/main.pug

block content
    p Video File
    form(action=routes.upload, method="post")
        input(type="file" name="videoUpload")
        input(type="text" name="videoTitle", placeholder="Title")
        input(type="text" name="videoDescription", placeholder="Description")
        input(type="submit" value="Upload Video")